

<!-- Header -->
<div class="header pb-6 mb-5">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center">
                <div class="col-lg-6 col-7">
                    <h1 class="page-header">
                        {{ 'Gestão de Utilizadores' | translate }}
                    </h1>                    
                </div>
                <div class="col-lg-6 col-5 text-right">
                    
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">

                <div class="card-header border-0">
                    <div class="row align-items-center py-0">
                        <div class="col-lg-1 p-filter">
                            <div class="form-group">
                                <label for="enter_by">Entrada</label>
                                <select (change)='_onTableDataChange($event)' class="form-control" id="enter_by" name="enter_by"
                                    [(ngModel)]="_filter.limit">
                                    <option>10</option>
                                    <option>20</option>
                                    <option>30</option>
                                    <option>50</option>
                                </select>
                            </div>
                        </div>
                    
                        <div class="col-lg-2 p-filter">
                            <div class="form-group">
                                <label for="filter_column">Data Início</label>
                                <input type="date" name="start_date" id="start_date"
                                    [(ngModel)]="_filter.start_date" (keyup)="_onTableDataChange($event)"
                                    placeholder="Pesquisa por ..." class="form-control">
                            </div>
                        </div>

                        <div class="col-lg-2 p-filter">
                            <div class="form-group">
                                <label for="filter_column">Data Fim</label>
                                <input type="date" name="end_date" id="end_date"
                                    [(ngModel)]="_filter.end_date" (keyup)="_onTableDataChange($event)"
                                    placeholder="Pesquisa por ..." class="form-control">
                            </div>
                        </div>

                        <div class="col-lg-1 p-filter">
                            <div class="form-group">
                                <button (click)="_search()" class='btn btn-success mt-4' type="button">Buscar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Light table -->
                <div class="table-responsive">
                    <table class="table align-items-center table-striped">
                        <thead class="table-light">
                            <tr>
                                <th>#</th>
                                <th scope="col" class="sort">{{ 'table.name' | translate}}</th>
                                <th scope="col" class="sort">{{ 'Nº telefone' | translate}}</th>
                                <th scope="col" class="sort">{{ 'Endereço' | translate}}</th>
                                <th scope="col" class="sort">{{ 'Data de Registo' | translate}}</th>
                                <th scope="col" class="sort">{{ 'Opcções' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody class="list" *ngIf="_customersService.customers.items">
                            <tr *ngFor="let item of _customersService.customers.items | paginate: {
                                itemsPerPage: _filter.limit,
                                currentPage: _filter.page,
                                totalItems: _customersService.customers.total}
                                ; index as i">
                                <td>{{ i+1 }}</td>
                                <th scope="row"><span class="name mb-0 text-sm">{{ item.name }}</span></th>
                                <th scope="row"><span class="name mb-0 text-sm">{{ item.phone_number}}</span></th>
                                <th scope="row"><span class="name mb-0 text-sm">{{ item.phone_number}}</span></th>
                                <th scope="row"><span class="name mb-0 text-sm">{{ item.created_at | date }}</span></th>

                                <td class="text-right">
                                    <div class="dropdown">
                                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" href="#">Opções</a>
                                            <button type="button" class="dropdown-item" data-toggle="modal"
                                                 data-target="#CreateOrEditProductModal">
                                                {{ 'btn.update' | translate}}
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <app-loading [loading]="this.loading"></app-loading>

                    <div class="d-flex justify-content-center">
                        <pagination-controls
                            (pageChange)="_onTableDataChangePage($event)"
                            previousLabel="Anterior"
                            nextLabel="Proximo"
                            >
                        </pagination-controls>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

