<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="assets/logo.jpeg" width="20" style="width: 80px!important">
        </a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="border: 0 solid transparent;">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <div class="form-inline my-2 my-lg-0">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item"><a class="nav-link" routerLink="/reports" href="#">Imprensa</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/organigrama" href="#">Organigrama</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Projectos</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Contactos</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>