<div class="wrapper row0">
    <div id="topbar" class="hoc clear">
        <div class="fl_left">
            <ul class="nospace">
                <li><i class="fas fa-mobile-alt rgtspace-5"></i> +244 900 000 000</li>
                <li><i class="far fa-envelope rgtspace-5"></i> agrupamento11@hotmail.com</li>
            </ul>
        </div>
        <div class="fl_right">
            <ul class="nospace">
                <li><a href="#" title="Login"><i class="fas fa-sign-in-alt"></i></a></li>
            </ul>
        </div>
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row1">
    <section id="ctdetails" class="hoc clear">
        <!-- ################################################################################################ -->
        <ul class="nospace clear">
            <li class="one_quarter first">
                <div class="block clear"><a href="#"><i class="fas fa-phone"></i></a> <span><strong>Chamadas:</strong>
                        +244 900 000 000</span></div>
            </li>
            <li class="one_quarter">
                <div class="block clear"><a href="#"><i class="fas fa-envelope"></i></a> <span><strong>Envia
                            e-mail:</strong> agrupamento11@hotmail.com</span></div>
            </li>
            <li class="one_quarter">
                <div class="block clear"><a href="#"><i class="fas fa-clock"></i></a> <span><strong> Finais de
                            Semanas:</strong> 14.00pm - 17.00pm</span></div>
            </li>
            <li class="one_quarter">
                <div class="block clear"><a href="#"><i class="fas fa-map-marker-alt"></i></a> <span><strong>Estamos
                            localizados:</strong> Morro Bento</span></div>
            </li>
        </ul>
        <!-- ################################################################################################ -->
    </section>
</div>
<!-- ################################################################################################ -->



<!-- Top Background Image Wrapper -->
<div class="bgded overlay padtop" style="background-image:url('/assets/images/site/campfire.jpeg');">
    <!-- ################################################################################################ -->
    <header id="header" class="hoc clear">
        <div id="logo" class="fl_left">
            <!-- ################################################################################################ -->
            <a class="navbar-brand" href="#">
                <img src="/assets/logo.png" alt="" style="width: 40px!important; margin-top: -5px;">
            </a>
            <!-- ################################################################################################ -->
        </div>
        <nav id="mainav" class="fl_right">
            <!-- ################################################################################################ -->
            <ul class="clear">
                <li class="active"><a href="index.html">Home</a></li>
                <li><a class="drop" href="#">Organismo</a>
                    <ul>
                        <li><a href="#">Direção</a></li>
                        <li><a href="#">Departamentos</a></li>
                        <li><a href="#">Secções</a></li>
                    </ul>
                </li>
                <li><a href="#">Projetos</a></li>
                <li><a href="#">Voluntários</a></li>
                <li><a href="#">Fale connosco</a></li>
            </ul>
            <!-- ################################################################################################ -->
        </nav>
    </header>
    <!-- ################################################################################################ -->
    <div id="pageintro" class="hoc clear">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">Senectus et netus</h3>
            <p>Et malesuada fames ac turpis egestas duis rutrum eros ut sapien in hac habitasse platea dictumst aliquam
                venenatis leo et orci ut pretium odio eu nisi nulla at.</p>
            <footer>
                <ul class="nospace inline pushright">
                    <li><a class="btn" href="#">Egestas</a></li>
                    <li><a class="btn inverse" href="#">Tristique</a></li>
                </ul>
            </footer>
        </article>
        <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
</div>
<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<div class="wrapper row3">
    <main class="hoc container clear">
        <!-- main body -->
        <!-- ################################################################################################ -->
        <section id="introblocks">
            <ul class="nospace group grid-3">
                <li class="one_third">
                    <figure><a class="imgover" href="#"><img src="/assets/images/site/scout1.png" alt=""></a>
                        <figcaption><a href="#">Aliquam faucibus</a></figcaption>
                    </figure>
                </li>
                <li class="one_third">
                    <figure><a class="imgover" href="#"><img src="/assets/images/site/scout1.png" alt=""></a>
                        <figcaption><a href="#">Aliquam faucibus</a></figcaption>
                    </figure>
                </li>
                <li class="one_third">
                    <figure><a class="imgover" href="#"><img src="/assets/images/site/scout1.png" alt=""></a>
                        <figcaption><a href="#">Aliquam faucibus</a></figcaption>
                    </figure>
                </li>
            </ul>
        </section>
        <!-- ################################################################################################ -->
        <!-- / main body -->
        <div class="clear"></div>
    </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<div class="bgded overlay" style="background-image:url('/assets/images/site/background2.jpeg');">
    <section class="hoc container clear">
        <!-- ################################################################################################ -->
        <figure class="one_half first">
            <h6 class="heading">Ante fringilla nisl eu</h6>
            <p class="btmspace-30">Gravida lorem ligula quis ligula pellentesque congue semper felis maecenas rutrum
                euismod nibh class aptent taciti.</p>
            <ul class="nospace clear points">
                <li><a href="#"><i class="fas fa-equals"></i></a>
                    <h6 class="heading">Sociosqu ad litora torquent</h6>
                    <p>Per conubia nostra per inceptos himenaeos mauris lectus enim luctus vitae viverra a pharetra
                        mollis diam aliquam.</p>
                </li>
                <li><a href="#"><i class="fas fa-exclamation-circle"></i></a>
                    <h6 class="heading">Sociosqu ad litora torquent</h6>
                    <p>Per conubia nostra per inceptos himenaeos mauris lectus enim luctus vitae viverra a pharetra
                        mollis diam aliquam.</p>
                </li>
            </ul>
        </figure>
        <div class="one_half last"><a class="imgover" href="#"><img src="/assets/images/site/scout3.png" alt=""></a>
        </div>
        <!-- ################################################################################################ -->
    </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <section id="services" class="hoc container clear">
        <!-- ################################################################################################ -->
        <div class="sectiontitle">
            <p class="nospace font-xs">Mollis eu commodo eu dui quisque</p>
            <h6 class="heading">Ut ipsum vivamus tincidunt</h6>
        </div>
        <ul class="nospace group grid-3">
            <li class="one_third">
                <article><a href="#"><i class="fas fa-chess-king"></i></a>
                    <h6 class="heading">Tincidunt enim etiam</h6>
                    <p>Tellus lacus tempor in pharetra id imperdiet sit amet enim suspendisse potenti fusce ornare
                        imperdiet sit amet enim suspendisse.</p>
                    <footer><a href="#">Read More</a></footer>
                </article>
            </li>
            <li class="one_third">
                <article><a href="#"><i class="fas fa-archive"></i></a>
                    <h6 class="heading">Tincidunt enim etiam</h6>
                    <p>Tellus lacus tempor in pharetra id imperdiet sit amet enim suspendisse potenti fusce ornare
                        imperdiet sit amet enim suspendisse.</p>
                    <footer><a href="#">Read More</a></footer>
                </article>
            </li>
            <li class="one_third">
                <article><a href="#"><i class="fas fa-backspace"></i></a>
                    <h6 class="heading">Tincidunt enim etiam</h6>
                    <p>Tellus lacus tempor in pharetra id imperdiet sit amet enim suspendisse potenti fusce ornare
                        imperdiet sit amet enim suspendisse.</p>
                    <footer><a href="#">Read More</a></footer>
                </article>
            </li>
            <li class="one_third">
                <article><a href="#"><i class="fas fa-bezier-curve"></i></a>
                    <h6 class="heading">Tincidunt enim etiam</h6>
                    <p>Tellus lacus tempor in pharetra id imperdiet sit amet enim suspendisse potenti fusce ornare
                        imperdiet sit amet enim suspendisse.</p>
                    <footer><a href="#">Read More</a></footer>
                </article>
            </li>
            <li class="one_third">
                <article><a href="#"><i class="fas fa-box-open"></i></a>
                    <h6 class="heading">Tincidunt enim etiam</h6>
                    <p>Tellus lacus tempor in pharetra id imperdiet sit amet enim suspendisse potenti fusce ornare
                        imperdiet sit amet enim suspendisse.</p>
                    <footer><a href="#">Read More</a></footer>
                </article>
            </li>
            <li class="one_third">
                <article><a href="#"><i class="fas fa-luggage-cart"></i></a>
                    <h6 class="heading">Tincidunt enim etiam</h6>
                    <p>Tellus lacus tempor in pharetra id imperdiet sit amet enim suspendisse potenti fusce ornare
                        imperdiet sit amet enim suspendisse.</p>
                    <footer><a href="#">Read More</a></footer>
                </article>
            </li>
        </ul>
        <!-- ################################################################################################ -->
    </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row2">
    <section class="hoc container clear">
        <!-- ################################################################################################ -->
        <div class="sectiontitle">
            <p class="nospace font-xs">Mollis eu commodo eu dui quisque</p>
            <h6 class="heading">Ut ipsum vivamus tincidunt</h6>
        </div>
        <figure>
            <figcaption class="center btmspace-50"><a href="#">Pharetra</a> / <a href="#">Imperdiet</a> / <a
                    href="#">Suspendisse</a> / <a href="#">Potenti</a></figcaption>
            <ul class="nospace group grid-3">
                <li class="one_third"><a class="imgover" href="#"><img src="/assets/images/site/scout5.png" alt=""></a>
                </li>
                <li class="one_third"><a class="imgover" href="#"><img src="/assets/images/site/scout5.png" alt=""></a>
                </li>
                <li class="one_third"><a class="imgover" href="#"><img src="/assets/images/site/scout5.png" alt=""></a>
                </li>
                <li class="one_third"><a class="imgover" href="#"><img src="/assets/images/site/scout5.png" alt=""></a>
                </li>
                <li class="one_third"><a class="imgover" href="#"><img src="/assets/images/site/scout5.png" alt=""></a>
                </li>
                <li class="one_third"><a class="imgover" href="#"><img src="/assets/images/site/scout5.png" alt=""></a>
                </li>
            </ul>
        </figure>
        <!-- ################################################################################################ -->
    </section>
</div>
<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<!-- Bottom Background Image Wrapper -->
<div class="bgded overlay" style="background-image:url('/assets/images/site/background2.jpeg');">
    <!-- ################################################################################################ -->
    <div class="wrapper row4">
        <footer id="footer" class="hoc clear">
            <!-- ################################################################################################ -->
            <div class="group btmspace-50">
                <div class="one_quarter first">
                    <h6 class="heading">Lorem proin volutpat</h6>
                    <p>Ligula quis sapien nam molestie massa quis pede maecenas quis lacus nunc sed lectus quis lectus
                        tristique tincidunt sed varius nisl tincidunt lectus pellentesque sagittis mauris ut leo
                        ullamcorper tortor morbi accumsan</p>
                    <ul class="faico clear">
                        <li><a class="faicon-facebook" href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a class="faicon-twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </div>
                <div class="one_quarter">
                    <h6 class="heading">Nascetur ridiculus mus</h6>
                </div>
                <div class="one_quarter">
                    <h6 class="heading">Nascetur ridiculus mus</h6>

                </div>
                <div class="one_quarter">
                    <h6 class="heading">Vestibulum sed quam</h6>
                    <p class="nospace btmspace-15">Ante dapibus luctus sed quis diam vitae ipsum ultrices vehicula.</p>
                    <form action="#" method="post">
                        <fieldset>
                            <legend>Newsletter:</legend>
                            <input class="btmspace-15" type="text" value="" placeholder="Name">
                            <input class="btmspace-15" type="text" value="" placeholder="Email">
                            <button class="btn" type="submit" value="submit">Submit</button>
                        </fieldset>
                    </form>
                </div>
            </div>

            <!-- ################################################################################################ -->
        </footer>
    </div>
    <!-- ################################################################################################ -->
    <div class="wrapper row5">
        <div id="copyright" class="hoc clear">
            <!-- ################################################################################################ -->
            <p class="fl_left">Copyright © 2023 Agrupamento 11</p>
            <!-- ################################################################################################ -->
        </div>
    </div>
</div>

<!-- End Bottom Background Image Wrapper -->
<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>