.text-title {
    font-weight: 300;
    font-size: 50px;
    font-family: 'ComicNeue-Bold';
}

.header-title {
    font-weight: 300;
    font-size: 30px;
}

.info-main {
    margin-top: -5vh;
}

.info-card {
    padding: 80px;
}

.info-main-2 {
    margin-top: 10vh;
}

.title-scout {
    padding-top: 50px;
    padding-bottom: 30px;
    font-family: 'ComicNeue-Bold';
}

.header-description {
    font-family: 'ComicNeue-Bold';
}

.fs-5 {
    font-family: 'ComicNeue-Regular';
}