.text-title {
    font-weight: 300;
    font-size: 50px;
}

.header-title {
    font-weight: 300;
    font-size: 30px;
}

.info-main {
    margin-top: -5vh;
}

.info-card {
    padding: 100px;
}

.info-main-2 {
    margin-top: 10vh;
}