.container{
    margin-top: 100px;
}

.info-main{
    background-color: #e3f2f0;
    margin-left: 150px;
    text-align: center;
    margin-right: 450px;
}

.col{
    margin-right: 800px;
}


.sobrenome, .contacto{
    margin-right: 40px;
    margin-left: 400px;
    margin-top: -61.5px; 
}

.Email, .NOME{
    margin-right: 400px;
    margin-left: 40px;
}
.sobrenome, .contacto{
    margin-right: 40px;
    margin-left: 400px;
    margin-top: -61.5px;
}

.msg{
    margin-right:40px ;
    margin-left: 35px;
}

.btn{
    width: 200px;
    margin-bottom: 20px;
    margin-left: 50px;
}

.flimg{
    margin-left: 813px;
    margin-top: -421.5px;
}