<app-navbar></app-navbar>  <br>



<section class="info-main">

    
    <div class="container">
        <form>
            <h1>Quer entrar em contacto Connosco?</h1> 
            <div class="form-row">

              <div class="col NOME">
                <input type="text" class="form-control" placeholder="Nome">
              </div>
              <br>

              <div class="col sobrenome">
                <input type="text" class="form-control" placeholder="Sobrenome">
              </div>
              <br>

              <div class="col Email">
                <input type="email" class="form-control" placeholder="email">
              </div>
              <br>

              <div class="col contacto">
                <input type="tel" class="form-control" placeholder="Contacto">
              </div>
              <br>
              <div class="form-group msg">
                
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Envie a sua mensagem"></textarea>
              </div>

            </div>
            <br>
            
            <button type="submit" class="btn btn-danger">Enviar</button>
          </form> 
    </div>
</section>
<img src="/assets/images/pexels-ketut-subiyanto-4132426.jpg" width="20.8%" alt="hjk" class="flimg">

<br>
<br> 


<app-footer></app-footer> 
