<nav class="navbar navbar-expand-lg navbar-light defaul-bg fixed-top" data-aos="fade-down">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <img src="/assets/logo.png" alt="" width="50">
        </a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active nav-link-scout" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-scout" href="#">Organismo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-scout" href="#">Departamentos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-scout" href="#">Projetos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-scout" href="#">Voluntários</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-scout" href="#">Fale connosco</a>
                </li>
            </ul>
            <div class="d-flex">
                <button class="btn btn-outline-dark btn-sm" type="submit">Entrar</button>
            </div>
        </div>
    </div>
</nav>