a.nav-link-scout {
    color: #fff !important;
    font-weight: 300 !important;
}

.navbar-toggler {
    border: 0 solid transparent !important;
    border-radius: 0 !important;
}

.navbar-light .navbar-toggler {
    color: #ad000000 !important;
}

.navbar-collapse.show {
    margin-left: 15px;
}

.btn-outline-dark {
    color: #ffffff;
    border-color: #ffffff;
    background: black;
}