<div class="bgded overlay" style="background-image:url('/assets/images/tents.jpeg');">

    <footer class="bd-footer py-5 mt-5 bg-footer">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-3 mb-3">
                    <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="/"
                        aria-label="Bootstrap">
                        <img src="/assets/logo.png" alt="" width="50">
                        <span class="fs-5">Agrupamento 11</span>
                    </a>
                    <ul class="list-unstyled small text-muted">
                        <li class="mb-3">Trinta anos em contacto com a natureza, crianco um espirito ecológico de
                            preservação da obra de Deus.</li>
                        <li class="mb-3">V00.1 Beta</li>
                        <li class="mb-2">Departamento de TICs & Inovação</li>
                    </ul>
                </div>
                <div class="col-6 col-lg-3 offset-lg-2 mb-3">
                    <h5 class="title-footer">Links</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="https://aeascout.org/" target="_blank">A.E.A</a></li>
                        <li class="mb-2"><a href="https://scout.org/" target="_blank">Escutismo Mundial</a></li>
                        <li class="mb-2"><a href="https://med.gov.ao/ao/" target="_blank">Ministério da Educação</a>
                        </li>
                    </ul>
                </div>

                <div class="col-6 col-lg-2 mb-3">
                    <h5 class="title-footer">Projectos</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="#">Banco alimentar</a></li>
                        <li class="mb-2"><a href="#">Doação de Sangue</a></li>
                        <li class="mb-2"><a href="#">Luanda + verde</a></li>
                    </ul>
                </div>
                <div class="col-6 col-lg-2 mb-3">
                    <h5 class="title-footer">Communidade</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="#">África meu berço</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

</div>