<!-- ################################################################################################ -->
<!-- Bottom Background Image Wrapper -->
<div class="bgded overlay" style="background-image:url('/assets/images/site/background2.jpeg');">
    <!-- ################################################################################################ -->
    <div class="wrapper row4">
        <footer id="footer" class="hoc clear">
            <!-- ################################################################################################ -->
            <div class="group btmspace-50">
                <div class="one_quarter first">
                    <h6 class="heading">.:: Agrupamento 11 ::.</h6>
                    <p>Um agrupamento jovem com dinamismo na formação e na disciplina.</p>
                    <ul class="faico clear">
                        <li><a class="faicon-facebook" href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a class="faicon-twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </div>
                <div class="one_quarter">
                    <h6 class="heading">.:: Links Uteis ::.</h6>
                    <ul class="clear">
                        <li><a class="" href="https://aeascout.org/" target="_blank">A.E.A</a></li>
                        <li><a class="" href="https://scout.org/" target="_blank">Escutismo Mundial</a></li>
                    </ul>
                </div>
                <div class="one_quarter">
                    <h6 class="heading">.:: Unidades e DEP´s ::.</h6>

                </div>
                <div class="one_quarter">
                    <h6 class="heading">Fale connosco</h6>
                    <p class="nospace btmspace-15">Em caso de duvida ou sugestões, entre em contacto connosco.</p>
                    <form action="#" method="post">
                        <fieldset>
                            <legend>Newsletter:</legend>
                            <input class="btmspace-15" type="text" value="" placeholder="Nome">
                            <input class="btmspace-15" type="text" value="" placeholder="E-mail">
                            <button class="btn" type="submit" value="submit">Enviar</button>
                        </fieldset>
                    </form>
                </div>
            </div>

            <!-- ################################################################################################ -->
        </footer>
    </div>
    <!-- ################################################################################################ -->
    <div class="wrapper row5">
        <div id="copyright" class="hoc clear">
            <!-- ################################################################################################ -->
            <p class="fl_left">Copyright © 1993 - 2023 Agrupamento 11</p>
            <!-- ################################################################################################ -->
        </div>
    </div>
</div>

<!-- End Bottom Background Image Wrapper -->
<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>