.bgded-footer {
    background-image: url(/assets/images/site/background2.jpeg);
}

.bgded-footer {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    position: relative;
    z-index: 1;
}