<app-navbar></app-navbar>
<div class="carousel carousel-margin">
    <div class="carousel-inner">
        <div class="carousel-item active" id="img-wrapper">
            <img src="/assets/images/carousel/bg-1.png" alt="..." class="d-block w-100" style="height: 90vh;">
        </div>
        <div class="carousel-caption d-none d-md-block" id="txt-wrapper">
            <h5 class="text-title">DIREÇÃO CORPORATIVA</h5>
        </div>
    </div>    
</div>
<section class="info-main">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h3 class="display-4 header-title">Organismo</h3>
          <div style="text-align: justify; ">
            <p class="description-organic">O Agrupamento-11 tem uma estrutura organizacional transparente e claramente definida, que permite 
                a educação dos jovens e com uma capacidade de assegurar a transformação de um homem novo para um Mundo Novo.
              </p>
              <p class="description-organic">A estrutura orgânica do Agrupamento-11 foi estabelecida de modo a permitir a segregação de funções,
                 de acordo com seu actual quadro de dirigentes na Direção, Secções e Departamentos</p>
          </div>          
        </div>
    </div>
</section >

<br>
<section class="info-main-1">
    <div class="container">
        <h3 class="text-sector">DIREÇÃO CORPORATIVA</h3>        
        <div class="level-1 rectangle"> 
            <div class="col-md-3">
                <div class="card">
                    <h5 class="card-title">Chefe do Ag.</h5>
                    <img class="card-img-top rounded-circle " src="/assets/images/user-icon-2098873_640.png" alt="Imagem de capa do card">
                    <div class="card-body">                      
                      <p class="card-text">Chefe Anilde</p>                     
                    </div>
                </div>
            </div>
        </div>
        <div class="level-1 rectangle"> 
            <div class="col-md-3">
                <div class="card " >
                    <h5 class="card-title">Chefe Adjunto Ag.</h5>
                    <img class="card-img-top rounded-circle" src="/assets/images/user-icon-2098873_640.png" alt="Imagem de capa do card">
                    <div class="card-body">                      
                      <p class="card-text">Chefe Anilde</p>                     
                    </div>
                </div>
            </div>
        </div>               
        <ol class="level-2-wrapper">
          <li>
            <div class="col-md-3 level-2 rectangle">
                <div class="card ">
                    <h5 class="card-title">Tesoureiro do Ag.</h5>
                    <img class="card-img-top rounded-circle" src="/assets/images/user-icon-2098873_640.png" alt="Imagem de capa do card">
                    <div class="card-body">                     
                      <p class="card-text">Edson Kay</p>
                    </div>
                </div>
            </div>                    
          <li>
            <div class="col-md-3 level-2 rectangle">
                <div class="card ">
                    <h5 class="card-title">Secretário do Ag.</h5>
                    <img class="card-img-top rounded-circle" src="/assets/images/user-icon-2098873_640.png" alt="Imagem de capa do card">
                    <div class="card-body">                      
                      <p class="card-text">Edson Kay</p>
                    </div>
                </div>
            </div>        
          </li>
        </ol>    
      </div>     
</section>      

<br>
<section class="info-main-2">
   <div class="container">
       <h3 class="text-sector" >CHEFES DE SECÇÕES</h3>
       <div class="row" style="margin-top: 2rem;">
           <div class="col-md-3">
               <div class="card " >
                   <h5 class="card-title">Lobitos</h5>
                   <img class="card-img-top rounded-circle" src="/assets/images/user-icon-2098873_640.png" alt="Imagem de capa do card">
                   <div class="card-body">                      
                     <p class="card-text">Chefe Anilde</p>                     
                   </div>
               </div>
           </div>
           <div class="col-md-3">
               <div class="card " >
                   <h5 class="card-title">Exploradores</h5>
                   <img class="card-img-top rounded-circle" src="/assets/images/user-icon-2098873_640.png" alt="Imagem de capa do card">
                   <div class="card-body">                      
                     <p class="card-text">Edson Kay</p>
                   </div>
               </div>
           </div>
           <div class="col-md-3">
               <div class="card ">
                   <h5 class="card-title">Pioneiros</h5>
                   <img class="card-img-top rounded-circle" src="/assets/images/user-icon-2098873_640.png" alt="Imagem de capa do card">
                   <div class="card-body">                     
                     <p class="card-text">Edson Kay</p>
                   </div>
               </div>
           </div>
           <div class="col-md-3">
               <div class="card ">
                   <h5 class="card-title">Caminheiros</h5>
                   <img class="card-img-top rounded-circle" src="/assets/images/user-icon-2098873_640.png" alt="Imagem de capa do card">
                   <div class="card-body">                      
                     <p class="card-text">Edson Kay</p>
                   </div>
               </div>
           </div>
       </div>
   </div>
</section>
<br>
<br>
<section class="info-main-3">
   <div class="container">
       <h3 class="text-sector" >CHEFES DE DEPARTAMENTOS</h3>
       <div class="row" style="margin-top: 2rem;">
           <div class="col-md-3">
               <div class="card " >
                   <h5 class="card-title">Grandes Eventos</h5>
                   <img class="card-img-top rounded-circle" src="/assets/images/user-icon-2098873_640.png" alt="Imagem de capa do card">
                   <div class="card-body">                      
                     <p class="card-text">João Sami</p>                     
                   </div>
               </div>
           </div>
           <div class="col-md-3">
               <div class="card " >
                   <h5 class="card-title">Patrimonio</h5>
                   <img class="card-img-top rounded-circle" src="/assets/images/user-icon-2098873_640.png" alt="Imagem de capa do card">
                   <div class="card-body">                      
                     <p class="card-text">Edson Kay</p>
                   </div>
               </div>
           </div>
           <div class="col-md-3">
               <div class="card ">
                   <h5 class="card-title">Finanças</h5>
                   <img class="card-img-top rounded-circle" src="/assets/images/user-icon-2098873_640.png" alt="Imagem de capa do card">
                   <div class="card-body">                     
                     <p class="card-text">Chefe Soba</p>
                   </div>
               </div>
           </div>
           <div class="col-md-3">
               <div class="card ">
                   <h5 class="card-title">Desporto</h5>
                   <img class="card-img-top rounded-circle" src="/assets/images/user-icon-2098873_640.png" alt="Imagem de capa do card">
                   <div class="card-body">                      
                     <p class="card-text">Nelson Sami</p>
                   </div>
               </div>
           </div>
       </div>
   </div>
</section>

<section class="info-main-4">
    <app-footer></app-footer>
</section>
