/* You can add global styles to this file, and also import other style files */

.defaul-bg {
    background-color: #6c37ad !important;
}

.btn-scout {
    color: #fff !important;
    background-color: #6c37ad !important;
    border-color: #6c37ad !important;
}

.carousel-margin {
    margin-top: 10vh;
}

.btn-sm {
    border-radius: 0 !important;

}

.card {
    border-radius: 0 !important;
    border: 0 !important;
}

.btn.btn-tertiary {
    background: #6d37ad;
    border: 1px solid #6d37ad;
    color: #fff;
}

.table .thead-dark th {
    color: #fff;
    background-color: #212529;
    border-color: #32383e;
}

.section-lobito {
    background-color: #eeee00;
    color: #212529;
}

.section-explorar {
    background-color: green;
    color: #fff;
}

.section-pioneiro {
    background-color: #4949ff;
    color: #fff;
}

.section-caminheiro {
    background-color: #e30202;
    color: #fff;
}

.section-voluntario {
    background-color: #024702;
    color: #fff;
}