

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.accordion-body{
    padding: 5px;
}

table.table{
    margin-bottom: 0;
}

.app-content {
    padding: 1rem 0.1rem;
}

.ngx-pagination{
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}