/* You can add global styles to this file, and also import other style files */


.btn.btn-tertiary {
    background: #6d37ad;
    border: 1px solid #6d37ad;
    color: #fff;
}

.table .thead-dark th {
    color: #fff;
    background-color: #212529;
    border-color: #32383e;
}

.section-lobito {
    background-color: #eeee00;
    color: #212529;
}

.section-explorar {
    background-color: green;
    color: #fff;
}

.section-pioneiro {
    background-color: #4949ff;
    color: #fff;
}

.section-caminheiro {
    background-color: #e30202;
    color: #fff;
}

.section-voluntario {
    background-color: #024702;
    color: #fff;
}